<h1>Some random petition.</h1>

<span class="text">Some random stuff
    <b> more random stuff</b>.<br />
    Some random explanation.</span>

{{#if error}}
    <span class="error">Sign !!</span>
{{/if}}

<div class="inputs">
    <form action="/petition" method="POST" id="inputs">
        <input type="text" name="firstName" placeholder="Name" />
        <input type="text" name="secondName" placeholder="Last Name" />
        <button type="submit" href="/thanks"> <b> Submit</b></button>
        <input id="hidden" value="" style="display: none;" name="signature" />
        <canvas id="canvas" width="600" height="150" name="canvas"></canvas>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="canvas.js"></script>